h1.initials {
    /*background: #acd5f7;*/
    color: #acd5f7;
}

h2.name {
	font-weight: 500;
	font-size: 900px;
	margin-top: 100px;
    font-stretch: 100px;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    letter-spacing: 2px;
}

p.blue {
    /*color: #acd5f7;*/
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 50px;
}

.underlineName {
    width: 440px;
    height: 2px;
    border-radius: 10px;
    /*background-color: rgba(214, 246, 253, 0.57);*/
    background-color: white;
    margin: .2em auto .6em;
    display: block;
    content: '';
}

/*.underlineWhoAmI {
    width: 150px;
    height: 5px;
    border-radius: 10px;
    background-color: rgba(214, 246, 253, 0.57);
    margin: .em auto .4em;
    display: block;
    content: '';
    margin-left: 22px;
    /*color: grey;*/
}

.project1 {
	height: 50%;
	width: 50%;
	background-color: white;
}

.submitBtn {
	background: #27bfde;
	color: black;
}

.imgMe {
	background: url("../../images/blessingheadscarf.jpg") no-repeat;
	width: 380px;
    height: 425px;
    background-size: 100% 100%;
    background-position: 50% 50%;
    /*border-radius: 30%;*/
    /*margin-left: -75%;*/
    /*padding-left: -70%;*/

    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.img-circle {
    border-radius: 30%;
    margin-left: -75%;
    margin-top: -18%;
    width: 30%;
    height: 30%;
    padding-left: -70%;

    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.btnDownload {
    font-size: 20px;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-weight: 100;*/
    /*background: rgba(214, 246, 253, 0.57);*/
    background: #acd5f7;
    /*padding: 16px 22px;*/
    margin-left: 20px;
    display: inline-block;
}

li.sendColor {
    /*background: #acd5f7;*/
    color: #acd5f7;
}