h2.name {
	font-weight: 300;
	font-size: 50px;
	margin-top: 100px;

	/*border-top-style: solid;*/
  	/*border-top-width: 2px;*/
  /*border-right-style: solid;*/
  	/*border-bottom-style: solid;*/
  	/*border-bottom-width: 1px;*/
  /*border-left-style: solid;*/

}

.underlineName {
    width: 300px;
    height: 2px;
    border-radius: 10px;
    background-color: #ffffff;
    margin: .3em auto .4em;
    display: block;
    content: '';
    /*color: grey;*/
}

.project1 {
	height: 50%;
	width: 50%;
	background-color: white;
}

.submitBtn {
	background: #27bfde;
	color: black;
}

.imgMe {
	background: url("../../images/blessingheadscarf.jpg") no-repeat;
	width: 380px;
    height: 425px;
    background-size: 100% 100%;
    background-position: 50% 50%;
    /*border-radius: 30%;*/
    /*margin-left: -75%;*/
    /*padding-left: -70%;*/

}

.img-circle {
    border-radius: 30%;
    margin-left: -75%;
    margin-top: -18%;
    width: 30%;
    height: 30%;
    padding-left: -70%;

    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.btnDownload {
    font-size: 20px;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-weight: 100;*/
    background: rgba(214, 246, 253, 0.57);
    /*padding: 16px 22px;*/
    margin-left: 20px;
    display: inline-block;
}